{% extends "base.html" %}

{% block title %}Modules{% endblock %}

{% block content %}

<div class="menu-bar">
    <button id="winstonBtn" onclick="showSection('winston')">Winston Lutz</button>
    <button id="starshotsBtn" onclick="showSection('starshots')">Starshots</button>
    <button id="catphanBtn" onclick="showSection('catphan')">Catphan</button>
    <button id="picketBtn" onclick="showSection('picket')">Picket Fence</button>
</div>

{% include 'tabs/winston.html' %}

{% include 'tabs/starshots.html' %}

{% include 'tabs/catphan.html' %}

{% include 'tabs/picket.html' %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}